<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>21 India</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link rel="stylesheet" href="../index_files/index-96409872.css">
    <link rel="stylesheet" href="../assets/css/index-7cb00ae8.css">
    <link rel="stylesheet" href="../assets/css/Instructions-171cc2e8.css"> 
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link href="/css/wallet/recharge_styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/chahal.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
        integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>

        <!-- HTML !-->

<style>

.navbar[data-v-106b99c8] {
    background: linear-gradient(180deg,#2AAAF3 100%,#2979F2 100%);
}
.mian .selectBox .colorBox[data-v-67caa467] {
    background: #212838;
}

.mian .selectBox .pay-box .list .item .img[data-v-67caa467] {
    margin: 0 auto .13333rem;
    width: 1.2rem !important;
    height: 1.2rem !important;
}
.mian .selectBox .pay-box .list .item .name[data-v-67caa467] {
    color: #ffffff !important;
    font-size: .37333rem;
}
</style>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            
            <script>
                $.ajax({
                    type: "GET",
                    url: "/api/webapi/GetUserInfo",
                    dataType: "json",
                    success: function (response) {
                        let user = response.data;

                        $('.moneyu').text("₹" + user.money_user + ".00");

                        
                    }
                });

          


            </script>




        <!-- HTML !-->

<style>
/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 5px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px 20px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #fc7771;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
</style>
    
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-67caa467="" class="mian">
            <div data-v-106b99c8="" data-v-67caa467="" id="deposit_id" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8=""  class="navbar__content-title"> Deposit </div>
                <div data-v-106b99c8="" class="navbar-right">
                    <div data-v-11ffe290="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp" style="width:.66667rem;height:.66667rem">
                        </i>
                    </div>
                </div>
            </div>
            <div data-v-67caa467="" class="selectBox"><br>
                <div data-v-67caa467="" class="colorBox"></div>
                <div data-v-67caa467="" class="txtBox c-row c-row-middle">
                    <div data-v-67caa467="" class="txt p-r-5"> Total Balance: </div>
                    <div data-v-67caa467="" class="c-row c-row-middle">
                        <div data-v-67caa467="" class="money">
                            <!---->
                            <div data-v-67caa467="">₹<span data-v-67caa467="" class="p-l-5">Loading...</span></div>
                        </div>
                        <div data-v-67caa467="" class="van-image img m-l-10" style="width: 18px; height: 18px;">
                            <img src="/images/reload.png" class="van-image__img">
                        </div>
                    </div>
             
                </div>
                <div data-v-67caa467="" class="pay-box">
                    <div data-v-67caa467="" class="title c-row c-row-middle">
                        <div data-v-67caa467="" class="van-image" style="width: 20px; height: 20px;">
                            <img src="/images/htmls2.png" class="van-image__img">
                        </div>
                        <span data-v-67caa467="" class="m-l-10"> Payment Method </span>
                    </div>
                    <div data-v-67caa467="" class="list c-row c-flex-warp m-t-10">
                        <!--    <div data-v-67caa467="" class="item" type="bank">
                            <img data-v-67caa467="" width="50px" height="100px" src="https://i.ibb.co/SQCZcL0/pay-Name-Icon2-20240313185301acr8.png"
                                class="img">
                            <div data-v-67caa467="" class="name">Bank</div> 

                            
                        </div> -->
                        <div id="upiItem" data-v-67caa467="" class="item action" type="upi">
                            <img data-v-67caa467="" width="50px" height="100px" src="https://i.ibb.co/SQCZcL0/pay-Name-Icon2-20240313185301acr8.png"
                                class="img">
                            <div data-v-67caa467="" class="name">UPI</div>
                        </div>
                        <div id="usdtItem" data-v-67caa467="" class="" type="upi1">
                           
                            <div data-v-67caa467="" class="name"></div>
                        </div>
                    </div>
                </div>
               
                <!---->
                <div data-v-67caa467="" class="pay-box">
                    <div data-v-67caa467="" class="title c-row c-row-middle c-row-between">
                        <div data-v-67caa467="" class="c-row">
                            <div data-v-67caa467="" class="van-image" style="width: 20px; height: 20px;">
                                <img src="/images/htmls2.png" class="van-image__img">
                            </div>
                            <span data-v-67caa467="" id="inr" class="m-l-10"> In ₹</span>
                        </div>
                        <!---->
                    </div>
              
                    <div data-v-67caa467="">
                        <div data-v-67caa467="">
                            <div data-v-67caa467="" class="box numberSize c-row c-row-between c-row-middle p-l-10">
                                <div data-v-67caa467="" id="inr_input" class="fuhao">₹</div>
                                <div data-v-67caa467="" id="input_boxx" class="input van-cell van-field">
                                    <div class="van-cell__value van-cell__value--alone van-field__value">
                                        <div class="van-field__body">
                                            <input type="tel" id="amountInput" value="200" inputmode="numeric" name="amount" placeholder="Please enter the amount" class="van-field__control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                           
                                    
                              


                            <div id="listContainer" data-v-67caa467="" class="list m-t-10 c-row c-row-between c-flex-warp">
                                <div data-v-67caa467="" data-money="200" class="li action">
                                    <span data-v-67caa467="" class="number">200</span>
                                </div>
                                <div data-v-67caa467="" data-money="500" class="li">
                                    <span data-v-67caa467="" class="number">500</span>
                                </div>
                                <div data-v-67caa467="" data-money="1000" class="li">
                                    <span data-v-67caa467="" class="number">1000</span>
                                </div>
                                <div data-v-67caa467="" data-money="5000" class="li">
                                    <span data-v-67caa467="" class="number">5K</span>
                                </div>
                                <div data-v-67caa467="" data-money="10000" class="li">
                                    <span data-v-67caa467="" class="number">10K</span>
                                </div>
                                <div data-v-67caa467="" data-money="50000" class="li">
                                    <span data-v-67caa467="" class="number">50K</span>
                                </div>
                            </div>
                            MINIMUM DEPOSIT 200
                            
                            <br>
                           <div data-v-67caa467=""><br>
                             
                                <div data-v-67caa467="" class="des">
                                    * The Bank payment gateway offers an additional 5% bonus on Every deposit.
                                </div>
                                <div data-v-67caa467="" class="des">
                                    If you transfer the wrong amount as instructed, the funds will be lost, and our
                                    company will not be held responsible! </div>
                                <div data-v-67caa467="" class="des">
                                    * Note: You must deposit the exact amount as instructed in the order. The system
                                    will automatically update the bonus funds.
                                </div>
                            </div>
                            <div data-v-67caa467="" class="btn-list c-row c-row-center m-t-30">
                                <!---->
                                <div data-v-67caa467="" class="item flex-cover" >
                                   
                                        <button id="deposit_id" data-v-67caa467="" class="next-btn van-button van-button--default van-button--normal van-button--block van-button--round" onclick="submitFormAndRedirect()">
        <div  data-v-67caa467="" class="van-button__content">
            <span  data-v-67caa467="" class="van-button__text">Deposit Fund</span>
        </div>
    </button>
                                 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    
    <script>
    
    const upiItem = document.getElementById('upiItem');
    const usdtItem = document.getElementById('usdtItem');

    upiItem.addEventListener('click', function() {
        toggleSelectedItem(upiItem);
        document.getElementById("amountInput").value = "100";
        const listContainer = document.getElementById('listContainer');
        const listItems = listContainer.querySelectorAll('.li');

        // Loop through each list item and update its content
        listItems.forEach(item => {
            document.getElementById("inr_input").textContent = "₹";
            document.getElementById("inr").textContent = "In ₹";
            const dataMoney = item.getAttribute('data-money');
            const spanElement = item.querySelector('.number');

            // Update the content based on the data-money attribute
            switch (dataMoney) {
                case "4":
                    item.setAttribute('data-money', '100');
                    spanElement.textContent = "100";
                    break;
                case "8":
                    item.setAttribute('data-money', '500');
                    spanElement.textContent = "500";
                    break;
                case "50":
                    item.setAttribute('data-money', '1000');
                    spanElement.textContent = "1000";
                    break;
                case "85":
                    item.setAttribute('data-money', '10000');
                    spanElement.textContent = "10000";
                    break;
                case "100":
                    item.setAttribute('data-money', '100');
                    spanElement.textContent = "100";
                    break;
                case "1000":
                    item.setAttribute('data-money', '1000');
                    spanElement.textContent = "1K";
                    break;
                default:
                    // Do nothing for other cases
                    break;
            }
        });
    });

    usdtItem.addEventListener('click', function() {
        toggleSelectedItem(usdtItem);
        
        const listContainer = document.getElementById('listContainer');
        const listItems = listContainer.querySelectorAll('.li');

        // Loop through each list item and update its content
        listItems.forEach(item => {
            const dataMoney = item.getAttribute('data-money');
            const spanElement = item.querySelector('.number');

            // Update the content based on the data-money attribute
            
        });
    
    });

    function toggleSelectedItem(item) {
        // Remove 'action' class from all items
        document.querySelectorAll('.item').forEach(item => {
            item.classList.remove('action');
        });

        // Add 'action' class to the clicked item
        item.classList.add('action');

        // Get the value of the selected item
        const selectedType = item.getAttribute('type');
        console.log('Selected item:', selectedType);
        
        
    }
    
    function toggleSelectedItem(item) {
        // Remove 'action' class from all items
        document.querySelectorAll('.item').forEach(item => {
            item.classList.remove('action');
        });

        // Add 'action' class to the clicked item
        item.classList.add('action');

        // Get the value of the selected item
        const selectedType = item.getAttribute('type');
        console.log('Selected item:', selectedType);
    }
    
    function getSelectedItem() {
        const selectedItem = document.querySelector('.item.action');
        if (selectedItem) {
            const selectedType = selectedItem.getAttribute('type');
            console.log('Selected item:', selectedType);
            return selectedType;
        } else {
            console.log('No item selected.');
            return null;
        }
    }

    
    
        function submitFormAndRedirect() {
    // Get the value of the input
    var pastValue = document.getElementById("amountInput").value;
    
    
        const selectedItem = getSelectedItem();
        
        if(selectedItem == 'upi' && pastValue >= 10){
        
        // Retrieve the value from the cookie
        var authCookie = getCookie("auth");

        // Create a new form
        var newForm = document.createElement("form");
        newForm.method = "post";
        newForm.action = "https://pay.150rupya.in";

        // Create a new input element to hold the past value
        var pastInput = document.createElement("input");
        pastInput.type = "hidden"; // Hide the input
        pastInput.name = "am";
        pastInput.value = pastValue;

        // Create a new input element to hold the cookie value
        var authInput = document.createElement("input");
        authInput.type = "hidden"; // Hide the input
        authInput.name = "user";
        authInput.value = authCookie;

        // Append the inputs to the form
        newForm.appendChild(pastInput);
        newForm.appendChild(authInput);

        // Append the form to the body and submit it
        document.body.appendChild(newForm);
        newForm.submit();
        
        }
        else if(selectedItem == 'usdt'  && pastValue >= 4)
        {
            var authCookie = getCookie("auth");

        // Create a new form
        var newForm = document.createElement("form");
        newForm.method = "get";
        newForm.action = "https://test.google.com";

        // Create a new input element to hold the past value
        var pastInput = document.createElement("input");
        pastInput.type = "hidden"; // Hide the input
        pastInput.name = "pay";
        pastInput.value = pastValue;

        // Create a new input element to hold the cookie value
        var authInput = document.createElement("input");
        authInput.type = "hidden"; // Hide the input
        authInput.name = "order_id";
        authInput.value = authCookie;

        // Append the inputs to the form
        newForm.appendChild(pastInput);
        newForm.appendChild(authInput);

        // Append the form to the body and submit it
        document.body.appendChild(newForm);
        newForm.submit();
        }
        else if(selectedItem == 'upi' && pastValue < 100){
        alert('Minimum recharge amount is 300');
        }
        else if(selectedItem == 'usdt' && pastValue < 4){
        alert('Minimum recharge amount is 4');
        }
}

// Function to get cookie value by name
function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
}


        function alertMess(text, sic) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }
        $('#reload .van-image').click(function (e) {
            e.preventDefault();
            $(this).addClass('action block-click');
            setTimeout(() => {
                $(this).removeClass('action block-click');
            }, 2500);
            $.ajax({
                type: "GET",
                url: "/api/webapi/GetUserInfo",
                dataType: "json",
                success: function (response) {
                    let user = response.data;
                    $('.wallet-user .name').text(user.name_user);
                    $('.money').text("₹" + user.money_user + "");
                }
            });
        });
        $.ajax({
            type: "GET",
            url: "/api/webapi/GetUserInfo",
            dataType: "json",
            success: function (response) {
                let user = response.data;
                $('.wallet-user .name').text(user.name_user);
                $('.money').text("₹" + user.money_user);
            }
        });
        $('#amountInput').on('#input', (e) => {
            let value = $('input').val();
            if (value == '') {
                $(".btn-list button").css({
                    'color': 'rgb(255, 255, 255)',
                    'background': 'rgb(181, 181, 181)',
                    'border-color': 'rgb(181, 181, 181)',
                });
            } else {
                $(".btn-list button").css({
                    'color': 'rgb(255, 255, 255)',
                    'background': 'rgb(92, 186, 71)',
                    'border-color': 'rgb(92, 186, 71)',
                });
            }
        });
        $('.pay-box .list .li').click(function (e) {
            e.preventDefault();
            let money = $(this).attr('data-money');
            $('.pay-box .list .li').removeClass('action');
            $(this).addClass('action');
            $('input').val(money);
        });
        function formateT(params) {
            let result = (params < 10) ? "0" + params : params;
            return result;
        }

        function timerJoin(params = '') {
            let date = '';
            if (params) {
                date = new Date(Number(params));
            } else {
                date = new Date();
            }
            let years = formateT(date.getFullYear());
            let months = formateT(date.getMonth() + 1);
            let days = formateT(date.getDate());

            let hours = formateT(date.getHours());
            let minutes = formateT(date.getMinutes());
            let seconds = formateT(date.getSeconds());
            return days + '/' + months + '/' + years;
        }
        

        $('#href-bank').click(function (e) {
            e.preventDefault();
            location.href = $(this).attr('url');
        });

        $('.pay-box:eq(0) .item').click(function (e) {
            e.preventDefault();
            $('.pay-box:eq(0) .item').removeClass('action');
            $(this).addClass('action');
            $('.pay-box:eq(0) .item').find('.icon').remove();
            $(this).append(`<div data-v-67caa467="" class="icon">
                                <i data-v-67caa467="" class="van-icon van-icon-success" style="color: rgb(255, 255, 255); font-size: 14px;"> </i>
                            </div>`);
        });

        $('#create-bank').click(function (e) {
            e.preventDefault();
            $(this).addClass('block-click');

            let money = $('#amountInput').val().trim();
            let typeElement = $('.pay-box:eq(0) .list').find('.action');

            if (!typeElement.length) {
                alertMess('Please select a payment method', $(this));
                return false;
            }

            let type = typeElement.attr('type');

            if (money && parseInt(money) >=100 && money <= 10000000000) {
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/recharge",
                    data: {
                        money: money,
                        type: type,
                    },
                    dataType: "json",
                    success: function (response) {
                        let data = response.datas;
                        localStorage.setItem('userData', JSON.stringify(response.payment_url));
                        alertMess(response.message, $(this));
                        $('.Loading').fadeIn(0);
                        setTimeout(() => {
                            $('.Loading').fadeOut(0);
                            location.reload();
                            // setTimeout(() => {
                            //     location.href = data.url;
                            // }, 100);
                        }, 1500);
                    }
                });
                return true;
            }
            $(this).addClass('block-click');
            alertMess('Deposit amount range : 100~10000000000', $(this));
        });
       
        $('.info .box').click(function (e) {
            let text = $(this).find('.text').text().trim();
            navigator.clipboard.writeText(text);
            $(this).addClass('block-click');
            alertMess('Copy successful', $(this));
        });
        $(document).ready(function () {
            let timeInSeconds = 30 * 60;
            function updateTimerDisplay() {
                const minutes = Math.floor(timeInSeconds / 60);
                const seconds = timeInSeconds % 60;
                $('.time').text(`${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`);
            }
            function decreaseTimer() {
                timeInSeconds--;
                updateTimerDisplay();
            }
            updateTimerDisplay();
            const countdownInterval = setInterval(function () {
                if (timeInSeconds > 0) {
                    decreaseTimer();
                } else {
                    clearInterval(countdownInterval);
                }
            }, 1000); 
        });

    </script>
    <script>

        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            alertMess("Copy successful");
            $temp.remove();
        }

    </script>
</body>

</html>